@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Page>
@{
	Layout = "_Layout.cshtml";
}

<div class="container">

	<iframe style="display:inline-block; float:left" align="top" width="640" height="360" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<div class="ant-row ">
		@Model.Title

		@Model.VideoDescription
	</div>
</div>

