@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Page>
@{
	Layout = "_Layout.cshtml";
}

@foreach (var item in Model.Value<IEnumerable<IPublishedElement>>("Elements"))
{
	{
		<div class="container p-5">
			@await Component.InvokeAsync(item.ContentType.Alias, item)
		</div>
	}

}

